matplotlib
Keras
-f https://download.pytorch.org/whl/torch_stable.html
tensorflow_hub
tensorflow_text
numpy
pandas
seaborn
torch
transformers 
scikit-learn
wordcloud
gensim
tqdm
nltk
IPython
transformers
streamlit
spacy-streamlit
-m spacy download en_core_web_sm
