matplotlib
Keras
-f https://download.pytorch.org/whl/torch_stable.html
tensorflow_hub
tensorflow_text
numpy
pandas
seaborn
torch
transformers 
sklearn
wordcloud
gensim
tqdm.auto
nltk
nltk.tokenize
nltk.tag
nltk.corpus
IPython.display
transformers
transformers
streamlit
